
// app background
$appBackground: linear-gradient(to right bottom, hsl(210, 4%, 20%), hsl(240, 4%, 6%), hsl(210, 4%, 20%),);


// view background
$viewBackground: hsla(210, 5%, 29%, 45%);


// elements colors
$colorOne: hsl(210, 65%, 28%);

$colorTwo :hsl(38, 100%, 56%);

// fonts colors
$fontColorOne: #fff;

$fontColorTwo: #222;